
#moviePoster{
  background: linear-gradient(#717171, #91102A);
  border: 2px solid black;
  margin: 10px 0px    
}


#movie-list img{
  width: 275px;
  height: 350px
}


#jumbotron {
  background-image: url("./images/jumbotron2.JPG");
  background-size: cover;
  height: 50vh;
  color: #ffffff;
     
}
#movieBackground {
  background: linear-gradient(#867D7F, black)
}

#movieDetails {
  background: linear-gradient(#867D7F 80%, black);
   }
#imdbPoster {
  background: linear-gradient(#867d7f 80%, black);
  
  
}

#imdbPoster img {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 780px;
  padding:25px
}

a:link, a:visited {
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight:bold
}

a:hover {
    box-shadow: 0px 8px 30px black
}

#moviePoster:hover{
    box-shadow: 0px 8px 30px white;
}

a h5{
    padding-top: 5px;
    border-top: solid black 2px;
    margin-top: 3px
}

#movieDetails {
    padding: 25px
}
